<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список услуг</title>
</head>
<body>
<div th:replace="/parts/navbar :: navbar" />
<th:block th:switch="${serviceSwitch}">
    <th:block th:case="'servicelist'">
        <h3>Список услуг</h3>
        <th:block th:each="service, state : ${services}">
            <div th:text="${service.getTitle()}"></div>
            <th:block th:each="role, state : ${roles}">
                <th:block th:if="${#strings.equals(role, 'ADMIN')}">
                    <a th:href="@{/services/{id}(id=${service.getId()})}">Изменить</a> <a th:href="@{/services/{id}/delete(id=${service.getId()})}">Удалить</a><br><br>
                </th:block>
                <th:block th:if="${#strings.equals(role, 'USER') and state.size == 1}">
                    <a th:href="@{/services/{id}(id=${service.getId()})}">Добавить</a><br><br>
                </th:block>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:case="'addservice'">
        <h3>Добавление услуги</h3>
        <form th:method="post" th:action="@{/services}" th:object="${service}">
            <label>Название услуги: <input type="text" th:field="*{title}"/></label><br>
            <label>Цена услуги: <input type="text" th:field="*{price}"/></label><br><br>
            <input type="submit" value="Добавить"/>
        </form>
    </th:block>
    <th:block th:case="'editservice'">
        <h3>Редактирование услуги</h3>
        <form th:method="post" th:action="@{/services/edit}" th:object="${service}">
            <input type="hidden" th:field="*{id}">
            <label>Название услуги: <input type="text" th:field="*{title}"/></label><br>
            <label>Цена услуги: <input type="text" th:field="*{price}"/></label><br><br>
            <input type="submit" value="Изменить"/>
        </form>
    </th:block>
</th:block>

</body>
</html>